@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif
}

.navbar {

    display: flex;
    justify-content: space-around;
    border-radius: 1%;
    box-shadow: 6px 5px 6px 5px black;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    align-items: center;
}

label,
button {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 1em;
    border-radius: 8px;
    color: black;
    width: 7vw;
    height: 4vh;
    cursor: pointer;
}

.info {
    gap: 0;
}


h1 {
    font-family: "alfa slab one";
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.element {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    border-radius: 2%;
    box-shadow: 6px 5px 6px 5px black;


}

.photo,
img {
    display: flex;
    flex-direction: row;
    border-radius: 2%;
    box-shadow: 6px 5px 6px 5px black;

    width: 20vw;
    height: 30vh;
    gap: 10%;

}

.photo,
.photo1,
.photo2 {
    display: flex;
    flex-wrap: wrap;

}

.titre{
    font-size: 1.5em;
    margin-left: 4vw;

    display: flex;
    align-items: center;

}

.texte {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
   
}