@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  border-radius: 1%;
  box-shadow: black;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  align-items: center;
}

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 1em;
}

.info {
  gap: 0;
}


h1 {
  font-family: "alfa slab one";
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.element {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  border-radius: 2%;
  box-shadow: 6px 5px 6px 5px black;


}

.photo,
img {
  display: flex;
  flex-direction: row;
  border-radius: 2%;
  box-shadow: 6px 5px 6px 5px black;

  width: 20vw;
  height: 30vh;
  gap: 10%;

}

.photo,
img:hover {
  transition: 3ms;
  transform: scale(1.1);
}

.photo,
.photo1,
.photo2 {
  display: flex;
  flex-wrap: wrap;
}

.texte {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.dropbtn:hover,
.dropbtn:focus {

  background-color: #2980B9;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Style du formulaire */
#postForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#postForm input[type="text"],
#postForm textarea {
  width: 50%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

#postForm button {
  padding: 8px 4px;
  background-color: #4CAF50;
  color: bisque;
  border: none;
  cursor: pointer;
}

#postForm button:hover {
  background-color: #45a049;
}

/* Style du feed */
#feed-container {
  margin: 0;
}


.post {
  background-color: bisque;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.post h3 {
  margin: 0 0 5px 0;
}

.post p {
  margin: 0;
}

.post-content {
  width: 5vw;
  height: 5vh;
  border-radius: 8px;
}

.gallery.grid {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 10px;
}

.gallery.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
